@import url("https://fonts.googleapis.com/css2?family=Reenie+Beanie&family=Staatliches&family=Roboto&display=swap");
@import "https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css";

/*variables*/
:root {
    --primary: #cda542;
}

/*Scroll settings for page*/
html {
    scroll-behavior: smooth;
}

/*primary background color*/
body {
    background-color: var(--primary);
}

/* Styling for main header and subheader at top of page */



/*Nav bar styling*/

/* .navbar-start {
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
} */

nav a {
    margin-right: 250px;
    font-family: "Staatliches";
    font-size: 40px;
    text-decoration: none;
    color: #000
    
}

nav a:hover {
    margin-right: 250px;
    display: flex;
    justify-content: space-between;
    font-family: "Staatliches";
    font-size: 40px;
    color: gray;
    text-decoration: none;
    font-weight: bold;
}

.navbar-brand h1 {

    font-family: "Staatliches";
    font-size: 100px;
    color: #000;

    
}
.navbar h6 {
    font-family: "Staatliches";
    font-size: 25px;
    color: #000;
    margin-left: 15px;

}

#burger {
    width: 100px;
    height: 200px;
}


/*Styling for each section's header*/
.section-heading {
  
    color: black;
    width: 60%;
    font-family: 'Staatliches';
    font-size: 75px;
}



/*About Me Section*/
#about-me {

    background-color: var(--primary);
    
}

#about-me h2 {
    background-color: var(--primary);
    color: #000;
}


#about-me article img { 
    border: 3px solid #000;
    float: right;
    min-width: 200px;
    width: 20%;
}

article p {
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    color: #000;
}


/*My Work Section*/
#portfolio {
    /* height: 1200px; */
    background-color: var(--primary);    
}



#portfolio a {
    list-style-type: none;
    text-decoration: none;
    color: black;
    
    font-family: "Staatliches";   
}

#portfolio a:hover {
    list-style-type: none;
    text-decoration: none;
    color: white;
    
    font-family: "Staatliches";    
}

.project-card {
    padding: 10px;
}

.project-link {
    font-size: 30px;
}

.repo-link {
    font-size: 20px;
}



/*Contact Section*/
#contact h2 {
    width: 100%;
    text-align: center;
    background-color: var(--primary);
    color: #000;
}

#contact {
    background-color: var(--primary);
}

.contact-grid {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}


#contact h4 {
    font-family: "Staatliches";
    font-size: 30px;
    /* padding-bottom: 100px; */
}

#contact a {
    font-family: "Staatliches";
    font-size: 30px;
    color: black;
    text-decoration: none;
    
}

#contact a:hover {

    font-family: "Staatliches";
    font-size: 30px;
    font-weight: bold;
    color: grey;
    text-decoration: none;
}

.level-item {
    padding: 10px;
}



/* Changes for smaller screen devices */
@media screen and (max-width: 768px) {
    nav a {
        margin-right: 250px;
        font-family: "Staatliches";
        font-size: 20px;
        text-decoration: none;
        color: #000
        
    }
    
    nav a:hover {
        margin-right: 250px;
        display: flex;
        justify-content: space-between;
        font-family: "Staatliches";
        font-size: 20px;
        color: gray;
        text-decoration: none;
        font-weight: bold;
    }

    .navbar-brand h1 {

        font-family: "Staatliches";
        font-size: 70px;
        color: #000;
    
        
    }

    .section-heading {
        background-color: grey;
        color: var(--primary);
        font-family: 'Staatliches';
        font-size: 35px;
    }

}

